# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.swp
*.swo

# Virtual environments
venv/
ENV/
env/
.venv/

# Environment files
.env
*.env

# Django
*.sqlite3
/db/
uploads/
vector_store/
staticfiles/
media/
Note/

# IDEs and editors
.vscode/
.idea/
*.iml
*.ipr
*.iws

# System files
.DS_Store
Thumbs.db

# Logs
*.log
